button {
  cursor: pointer;
}

li {
  list-style: none;
}

.header {
  text-align: center;
}

.search-header {
  display: inline-block;
  background-color: black;
  width: 49.8rem;
  height: 3.5rem;
  margin: 0;
  padding: 0.2rem;
}

.logo {
  border: none;
  background-color: rgba(255, 255, 255, 0);
  color: white;
  font-size: 25px;
  padding-top: 0.5rem;
}

.logo-icon {
  display: inline-block;
  font-size: 30px;
  color: red;
}

.search-bar {
  display: inline-block;
}

.search-input {
  width: 34em;
  height: 2em;
  margin: 0.4rem 0.3rem;
  padding: 0.1rem 0.5rem;
  border: none;
  border-radius: 0.2rem;
}

.search-input:focus {
  outline: none;
}

.search-btn {
  color: white;
  background-color: rgb(112, 107, 107);
  border: none;
  border-radius: 0.2rem;
  width: 3rem;
  height: 2.2em;
}
